body {
    background-color: #fefaf6;
    margin: 0 0 5rem;
    padding: 0 4%;
}

/* Navbar and Related */

nav {
    padding: 2% 0 1.5%;
    text-align: center;
    background-color: #fefaf6;
    font-family: 'Montserrat', sans-serif;
}

#navbar-left {
    display: inline-block;
    position: absolute;
    left: 5%;
}

#navbar-left a {
    padding: 0 2rem;
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
}

#navbar-left .dropdown-content a {
    font-size: 1.125rem;
    padding: 0.75rem 1rem;
    display: block;
    text-align: left;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navbar-left a:hover {
    color: #CDCDCD;
}

.logo {
    width: 2rem;
}

#navbar-right {
    display: inline-block;
    position: absolute;
    right: 5%;
}

#navbar-right a {
    padding: 0 1.5em;
    color: black;
    font-size: 1.5rem;
}

/* Dropdown - Work */

.dropdown {
    display: inline-block;
}

.dropbtn {
    display: inline-block;
    margin-bottom: 1rem;
}

.dropdown-content {
    padding: 1.5rem 2rem 2rem;
    background: #232320;
    box-shadow: 0 4px 4px rgb(0 0 0 / 6%), 0 19px 20px rgb(0 0 0 / 15%);
    border-radius: 20px;
    min-width: 16.5rem;
    display: none;
    position: absolute;
    z-index: 1;
}

/* Curtain Menu */

.menu-toggler {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(250,250,250);
    overflow-x: hidden;
    transition: 0.3s;
    transition-delay: 0.1s;
    display: inline-block;
}

.overlay-content {
    position: relative;
    top: 5%;
    left: 3%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 2.25rem;
    color: black;
    display: block;
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .24em;
    line-height: 2.4em;
    text-transform: uppercase;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #e6e6e6;
}

/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    margin-top: -25px;
    top: 0.5px;
    right: 2px;
    font-size: 60px;
    color: grey;
}

/* Tiles */

.work-tiles {
    position: relative;
    z-index: 1;
    margin: 4em auto 0;
    max-width: 90%;
    display: grid;
    gap: 4em;
}

h1 {
    color: #232320;
    font-size: 4.5rem;
    line-height: 110%;
    position: relative;
    font-family: 'Cinzel', serif;
}

.intro {
    margin: 15% auto 2%; 
    text-align: center;
}

.intro p {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem
}

#intro-carousel {
    width: 42%;
    margin: 0 auto;
}

.work-tile {
    width: 100%;
    border-radius: 20px;
    position: relative;
    display: block;
    transition: all .4s ease-in-out;
    padding: 1em 3em 0;
}

.work-tiles a {
    color: #232320;
    text-decoration: none;
}

.work-tiles a:hover {
    color: white;
    text-decoration: none;
}

.tile-title {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: right;
    display: block;
    margin-bottom: 1em;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.tile-holder {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tile-holder img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 52px 74px rgba(0,21,64,.138559);
    max-width: 580px;
    margin: 4rem auto 4em;
}

.polynomial-tile {
    background: linear-gradient( 338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
}

.encrypt-tile {
    background: linear-gradient( 6.03deg,#dacdff .5%,rgba(218,205,255,0) 46.89%),#ffeaee;
}

.polynomial-tile:hover, .encrypt-tile:hover {
    background: linear-gradient( 223.65deg,rgba(10,207,131,0) 60.59%,rgba(10,207,131,.62) 113.24%),#191919;
}

/* OVerlay Media Querries */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media (min-width: 544px) {

    .work-tiles {
        gap: 7em;
        margin: 120px auto 0;
    }

    .tile-title {
        font-size: 45px;
        text-align: right;
    }
}

/* Mobile Screen */

@media (max-width: 768px) {

    .menu-toggler {
        font-size: 1.5rem;
        display: inline-block;
        position: absolute;
        left: 5%;
    }

    #navbar-right a {
        padding: 0 0.6rem;
    }

    #navbar-left {
        display: none;
    }

    h1 {
        padding-top: 8%;
    }

    .work-tiles .tile-title {
        text-align: center;
    }

    .tile-holder img {
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 52px 74px rgba(0,21,64,.138559);
        margin: 4rem auto 4em;
    }

    #intro-carousel {
        width: 100%;
        margin: 0 auto;
        min-height: 90px;
    }
}

/* Tablet and Laptop Screen */

@media (min-width: 768px) and (max-width: 1300px) {

    #navbar-left {
        left: 2%;
    }

    #navbar-left a {
        padding: 0 0.75rem;
        color: black;
        font-size: 1.25rem;
    }

    #navbar-right {
        right: 2%;
    }

    #intro-carousel {
        width: 80%;
        margin: 0 auto;
    }
}