body {
  text-align: center;
  justify-content: center;
}

/* Content Section */

.top-section {
  margin: 10rem 3rem 3rem;
  text-align: center;
}

h1 {
  font-size: 4.375rem;
  font-family: "Cinzel", serif;
  color: #232320;
  width: 80%;
  margin: 0 auto 4%;
}

.form {
  margin: 2rem auto 0;
  text-align: center;
}

#coefInput {
  width: 50%;
  min-height: 3rem;
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: white;
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 1.25rem;
  appearance: auto;
}

.mq-math-mode .mq-root-block, .mq-root-block {
  vertical-align: text-top;
}

.mq-editable-field.mq-focused {
  border-color: black;
  box-shadow: black 0 0 1px 1px;
}

button.go {
  margin: 0 10px;
  width: 4%;
  height: 3.25rem;
  vertical-align: middle;
}

::-webkit-input-placeholder {
  color: grey;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

#result {
  text-align: center;
}

#result h2 {
  font-size: 2rem;
  font-family: 'Libre Baskerville', serif;
}

#result p {
  font-family: 'Lora', serif;
  font-size: 2rem;
}

#graph-btn {
  margin: 1rem auto 3rem;
}

#tangent-btn {
  margin: 2rem auto 0;
}

/* Media Queries */

/* Mobile */

@media (max-width: 767px) {

  h1 {
    line-height: 1.2;
  }

  :-webkit-any(article, aside, nav, section) h1 {
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin: -3rem auto 0;
  }

  ::-webkit-input-placeholder {
    font-size: 1rem;
  }

  .form #coefInput {
    width: 100%;
    min-height: 2rem;
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 500;
    color: black;
  }

  .form button.go {
    width: 18%;
    height: 2.5rem;
    display: block;
    margin: 3% auto 0;
    position: relative;
    left: 30%;
  }

  .top-section {
    position: relative;
  }

  .input-dropdown {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 7%;
  }

  ::placeholder {
    font-size: 0.75rem;
  }

  #result p {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
}

/* Tablet and Laptop */

@media (min-width: 768px) and (max-width: 1300px) {

  .form #coefInput {
    width: 70%;
  }

  .form button.go {
    width: 7%;
    margin: 0 10px;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  .form button.go {
    position: relative;
    top: -4px;
  }
}