body {
  text-align: center;
  justify-content: center;
}

/* WIP - Temporary */

.wip {
  text-align: center;
}

.wip h1 {
  font-size: 5rem;
  font-family: 'Share Tech Mono', monospace;
  margin: 0 auto;
}

.fa-tools {
  margin-top: 2rem;
  font-size: 5rem;
}

/* Content Section */

.top-section {
  margin: 10rem 3rem 3rem;
  text-align: center;
}

h1 {
  font-size: 4.375rem;
  font-family: "Cinzel", serif;
  color: #232320;
  width: 80%;
  margin: 0 auto 4%;
}

.form {
  margin: 2rem auto 0;
  text-align: center;
}

input {
  width: 50%;
  height: 3rem;
  border: 1px solid #9d9d9d;
  background-color: #fff;
  border-radius: 4px;
  -o-box-shadow: 0 0 0 3px #9d9d9d;
  box-shadow: 0 0 0 3px #9d9d9d;
  position: relative;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
}

button.go {
  margin: auto 0.7%;
  width: 4%;
  height: 3.25rem;
}

::-webkit-input-placeholder {
  color: grey;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
}

#result {
  text-align: center;
}

#result h2 {
  font-size: 2rem;
  font-family: 'Libre Baskerville', serif;
}

#result p {
  font-family: 'Lora', serif;
  font-size: 2rem;
}

.options .btn {
  margin: 0 2rem 2rem;
}

/* Media Querries */

/* Mobiles */

@media (max-width: 767px) {

  .wip h1 {
    font-size: 3rem;
    font-family: 'Share Tech Mono', monospace;
    margin: 0 auto;
  }

  .fa-tools {
      margin-top: 2rem;
      font-size: 5rem;
  }

  h1 {
    line-height: 1.2;
  }

  :-webkit-any(article, aside, nav, section) h1 {
    font-size: 2.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin: -3rem auto 0;
  }

  ::-webkit-input-placeholder {
    font-size: 1rem;
  }

  .form input {
    width: 100%;
    height: 2rem;
  }

  .form button.go {
    width: 18%;
    height: 2.5rem;
    display: block;
    margin: 3% auto 0;
    position: relative;
    left: 30%;
  }

  .top-section {
    position: relative;
  }

  .options {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 7%;
  }

  .options .btn {
    margin: 0 1rem 0 0;
  }
  
}

/* Between Tab and Laptop */

@media (min-width: 768px) and (max-width: 1300px) {

  .form input {
    width: 70%;
  }

  .form button.go {
    width: 7%;
    margin: 0 2%;
    height: 3rem;
  }
}